.header{
    padding: 20px;
    margin-top: 20px;
    background: blueviolet;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
