<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> login </title>
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
    <link rel="stylesheet" type="text/css" href="../css/header.css"/>
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>

    <title></title>
</head>

<body class="container" > <!--Pagina de login-->

        <header class="header" >
            <label> Login </label>
        </header>

			<form class="fomulario" action="select.php" method="post">
                <div class="normal">
                    <div class="div_box">
                        Usuario:
                        <input class="box" type="text" value="" name="usuario" required>
                    </div>

                    <div class="div_box">
                        Senha:
                        <input class="box" type="text" value="" name="senha" required>
                    </div>

                    <div class="div_box_btn" >
                        <!--Envia as informações do formulario para o arquivo select.php-->
                        <input class="btn" type="submit" value="LOGAR" />
                    </div>

                </div>
            </form>

        <footer class="footer" >
            <label> Copyright Miguel Lukas and Adailton Silva </label>
        </footer>

    </body>
</html>